<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA01XJIls9d8j1nRySs4JkpnxmIXcLeXFk</string>
	<key>GCM_SENDER_ID</key>
	<string>21895536568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emartApp</string>
	<key>PROJECT_ID</key>
	<string>emart-shopping-app</string>
	<key>STORAGE_BUCKET</key>
	<string>emart-shopping-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21895536568:ios:04d2bd8d3ea7d30c3f794d</string>
</dict>
</plist>